@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Turret+Road:wght@800&family=Ubuntu&display=swap');

:root {
  --heading-font: 'Turret Road', cursive;
  --topic-font: 'Kelly Slab', cursive;
  --details-font: 'Ubuntu', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--details-font);
  font-weight: normal;
}
